@page "/"
@inject ISalesRepository _salesRepository
@inject IFileRepository _fileRepository

<h1>Dealers de Claro</h1>

<br />
<br />

@if (salesList == null)
{
    <p><em>LOADING...</em></p>
}
else
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Cedula</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Monto</th>
                <th>Descripcion</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Revendedor</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in salesList)
            {
                <tr>
                    <td>@item.SaleCod</td>
                    <td>@item.ClientDocumentNumber</td>
                    <td>@item.ClientName</td>
                    <td>@item.ClientLastName</td>
                    <td>@string.Format("{0:c}", item.SaleAmount)</td>
                    <td>@item.SaleDescription</td>
                    <td>@item.SaleDate</td>
                    <td>@item.SaleTime</td>
                    <td>@item.ResellerCName</td>
                </tr>
            }
        </tbody>
    </table>
}

@code{
    private IList<SalesFH> salesList;

    protected override async Task OnInitializedAsync()
    {
        string fileName = await _fileRepository.Get(Endpoints.GenerateSalesEndpoint);
        salesList = await _salesRepository.Get(Endpoints.GetSalesEndpoint, fileName);
    }
}
